/* Cascading stylesheet for the Debian Release Notes */

div.related {
    background-color: #C70036;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    background-color: #C7003645;
}

div.body a:link {
    color: #0035C7;
    text-decoration: none;
}
div.body a:visited {
    color: #00207A;
    text-decoration: none;
}
div.body a:link:hover {
    color: #00207A;
    text-decoration: underline;
}


/* Table in content */

table.docutils {
    border-collapse: collapse;
}

table.docutils th {
    background-color: #C7003645;
    border: 1px solid black;
}

table.docutils td {
    border: 1px solid black;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

table.docutils th:hover {
    color: white;
}

table.docutils tbody tr:nth-child(even) {
    background-color:#DDDDDD;
}

table.docutils tbody tr:hover {
    background-color:#666666;
    color: #FFFFFF;
}

/* Infos blocks */

div.warning {
    border: 1px dashed #EFF500;
    background-color: #eff50030;
}

div.note {
    border: 1px dashed blue;
    background-color: #0000ff30;

}

.warning, .note {
    margin-left: 1em;
    margin-right: 1em;
}

@media (max-width: 5in), (max-device-width: 5in){
    .warning, .note {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}